h1(style="text-align: center;") HEADER
    div#routering(class="container" role="main" style="text-align:center;")
      button.btn.btn-primary#add(type="button"  v-on:click="page('/')") Home
      button.btn.btn-primary#add(type="button"  v-on:click="page('page2')") Page 2
      button.btn.btn-primary#add(type="button"  v-on:click="page('page3')") Page 3

